<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hr</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <!--<property name="show_sql">true</property>-->
        <!--<property name="format_sql">true</property>-->

        <mapping class="by.vinty.entity.Employee"/>

    </session-factory>
</hibernate-configuration>

<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration>-->
    <!--<session-factory>-->
        <!--<property name="connection.driver_class">org.h2.Driver</property>-->
        <!--<property name="dialect">org.hibernate.dialect.H2Dialect</property>-->
        <!--<property name="connection.url">jdbc:h2:mem:hrTest</property>-->
        <!--<property name="connection.username">sa</property>-->
        <!--<property name="connection.password"/>-->
        <!--<property name="hbm2ddl.auto">create-drop</property>-->
        <!--&lt;!&ndash;<property name="show_sql">true</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="format_sql">true</property>&ndash;&gt;-->

        <!--<mapping class="by.vinty.entity.Employee"/>-->

    <!--</session-factory>-->
<!--</hibernate-configuration>-->

<!--========Боевая система=========-->

